@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Mobile Home stuff, likely resuable component */

.home {
    display: flex;
    flex-direction: column;
    /* height: 100svh; */
    /* border-left: 1px solid red; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.home__header {
    text-align: center;
}

.home__header img {
    max-width: 8rem;
    border-radius: 50%;
    border: 5px solid var(--color-secondary);
}

@media (min-width: 1000px) {
    .home__header img {
        max-width: 10rem;
        border: 8px solid var(--color-secondary);
    }
}
/*  */