@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --color-primary: #1c2130;
  --color-secondary: #d1338f;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::_wekbit-scrollbar {
  display: none;
}

body {
    background-color: black;
    color: white;
    height: 100vh;

  /* Patterned Background */
  --s: 49px; /* control the size*/
  --c1: var(--color-primary);
  --c2: var(--color-secondary);
  
  --c:var(--c1) 0 25%,#0000 0;
  --p:0 0/calc(3*var(--s)) calc(2*var(--s));
  background:
    conic-gradient(from -45deg at 75% 62.5%,var(--c)) var(--p),
    conic-gradient(from 135deg at 25% 37.5%,var(--c)) var(--p),
    repeating-conic-gradient(from 90deg,var(--c),var(--c2) 0 50%)
      0 0/var(--s) var(--s);
}

.app-content {
  background-color: #1c2130;
  border-left: 1px solid var(--color-secondary);
  border-right: 1px solid var(--color-secondary);
  width: 300px;
  margin: 0 auto;
  height: 100vh;
}

.page {
  padding: 2rem;
}

.title {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: white; 
  text-shadow: var(--color-secondary) 5px 5px 3px;
}