@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::_wekbit-scrollbar {
  display: none;
}

body {
    background-color: black;
    color: green;
}

.title {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
}